@charset "utf-8";

/**
 * The fonts are officially bought by Code Q, but are not allowed to be part of this publish repository.
 * The are included in the deployment process and are here linked to the live website url.
 */
@font-face {
  font-family: 'ZeitungMonoPro';
  font-weight: bold;
  font-style: italic;
  src: url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Extrabold_Italic/ZeitungMonoPro-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Extrabold_Italic/ZeitungMonoPro-ExtraboldItalic.woff2') format('woff2'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Extrabold_Italic/ZeitungMonoPro-ExtraboldItalic.woff') format('woff'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Extrabold_Italic/ZeitungMonoPro-ExtraboldItalic.ttf') format('truetype'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Extrabold_Italic/ZeitungMonoPro-ExtraboldItalic.svg#ZeitungMonoPro-ExtraboldItalic') format('svg');
}

@font-face {
  font-family: 'ZeitungMonoPro';
  font-weight: normal;
  font-style: normal;
  src: url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular/ZeitungMonoPro-Regular.eot?#iefix') format('embedded-opentype'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular/ZeitungMonoPro-Regular.woff2') format('woff2'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular/ZeitungMonoPro-Regular.woff') format('woff'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular/ZeitungMonoPro-Regular.ttf') format('truetype'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular/ZeitungMonoPro-Regular.svg#ZeitungMonoPro-Regular') format('svg');
}

@font-face {
  font-family: 'ZeitungMonoPro';
  font-weight: normal;
  font-style: italic;
  src: url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular_Italic/ZeitungMonoPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular_Italic/ZeitungMonoPro-RegularItalic.woff2') format('woff2'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular_Italic/ZeitungMonoPro-RegularItalic.woff') format('woff'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular_Italic/ZeitungMonoPro-RegularItalic.ttf') format('truetype'),
     url('https://viennajs.org/_Resources/Static/Packages/ViennaJS.Site/Frontend/fonts/Zeitung_Mono_Pro_Regular_Italic/ZeitungMonoPro-RegularItalic.svg#ZeitungMonoPro-RegularItalic') format('svg');
}

$family-sans-serif: 'ZeitungMonoPro', "Helvetica", "Arial", sans-serif;
