@charset "utf-8";

// Bulma Customization
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$red: #ff1919;
$turquoise: #28cccc;
$blue: #2b00ff;
$yellow: #ffeb40;

// Update the sans-serif font family
@import "fonts";

// 3. Set the derived variables
$primary: $red;
$primary-invert: white;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";


// Components
@import "../../../Private/Fusion/Component/Header/Header";
@import "../../../Private/Fusion/Component/Footer/Footer";

// Content Node Types
@import "../../../Private/Fusion/Content/Button/Button";
@import "../../../Private/Fusion/Content/Text/Text";
@import "../../../Private/Fusion/Content/Hero/Hero";

